<p class="alert alert-success"><%= flash[:notice] %></p>
<h3>¡Vota por tu héroe favorito!</h3>
<div>
	<a href="/pages/batman.html">
		<img src="./assets/batman.jpg" alt="Go to Batsy's page" class="col-md-6">
	</a>
	<a href="/pages/superman.html">
		<img src="./assets/superman.jpg" alt="Go to Supes' page" class="col-md-6">
	</a>
</div>
<div>
	<form class="col-md-6" action="<%=algo_path %> "method="POST">
	<%= hidden_field_tag :authenticity_token,form_authenticity_token %>
	Superman <br/>
	<input name="heroe" type="hidden" value="Superman"/>
	Email <input name="email"><br/>
	<input type="submit" value="Enviar">
	</form>
</div>
<div>
	<form class="col-md-6" action="<%=algo_path %> "method="POST">
	<%= hidden_field_tag :authenticity_token,form_authenticity_token %>
	Batman <br/>
	<input name="heroe" type="hidden" value="Batman"/>
	Email <input name="email"><br/>
	<input type="submit" value="Enviar">
	</form>
</div>


